<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="container carousel-inner">
        <div class="container carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 p-0"><img src="https://picsum.photos/450/300" class="d-block"
                            alt="...">
                    </div>
                    <div class="col-md-5 bg-light">
                        <div class="d-none d-md-block">
                            <div class="contents">
                                <span class="caption">Editor's Pick</span>
                                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi consectetur doloribus aliquam accusantium beatae?</p>
                                <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 p-0"><img src="https://picsum.photos/450/300" class="d-block"
                            alt="...">
                    </div>
                    <div class="col-md-5 bg-light">
                        <div class="d-none d-md-block">
                            <div class="contents">
                                <span class="caption">Editor's Pick</span>
                                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi consectetur doloribus aliquam accusantium beatae?</p>
                                <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 p-0"><img src="https://picsum.photos/450/300" class="d-block"
                            alt="...">
                    </div>
                    <div class="col-md-5 bg-light">
                        <div class="d-none d-md-block">
                            <div class="contents">
                                <span class="caption">Editor's Pick</span>
                                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi consectetur doloribus aliquam accusantium beatae?</p>
                                <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" style="background: none;" type="button"
        data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="color: black;" fill="currentColor"
            class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" style="background: none;" type="button"
        data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" style="color: black;" height="24" fill="currentColor"
            class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
        <span class="visually-hidden">Next</span>
    </button>
</div>