.search-news ul {
    list-style: none;
}

.search-news ul li {
    width: 50%;
    height: 200px;
    background-color: transparent;
    border-radius: 20px;
    margin: 100px auto;
}



.search-news ul li .content {
    font-size: 16px;
}

.newsNotFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
}

.newsNotFound p {
    margin: 20px;
    opacity: 0.7;
}

.newsNotFound i {
    font-size: 60px;
    margin: 20px;
}

