<div class="container">
    <h2 class="text-center m-3">Haber Ara</h2>
    <input type="text" placeholder="Search" class="form-control w-50 m-auto" [value]="" aria-label="Small"
        aria-describedby="inputGroup-sizing-sm" (change)="searchFilter($event)">

    <div class="search-News" *ngIf="searchNews != null">
        <ul>
            <li *ngFor="let news of searchNews" class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2" style="margin-top: 1rem;text-align:end;padding-right:0"> <a
                                href="/details/{{news.id}}">
                                <img width="200" height="200" style="margin-top: 1rem;"
                                    src="https://image.tmdb.org/t/p/original{{news.poster_path}}">
                            </a></div>
                        <div class="col-md-6 bg-light" style="margin-top:2rem;padding-top: 1rem;padding-right:5rem">
                            <h5><b>Film Adı: </b>{{news.title}}</h5>
                            <span>
                                <h5><b>Puan: </b> {{news.vote_average}}</h5>
                            </span>
                            <span>
                                <h5><b>Tarih: </b>{{news.release_date.slice(0,4)}}</h5>
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </li>
        </ul>


        <div class="newsNotFound" *ngIf="searchNews.length == 0">

            <i class="fa-solid fa-magnifying-glass"></i>
            <h4>We are sorry, we can not find the news :(</h4>
            <p>Find your news by Type title, categories, years, etc </p>

        </div>

    </div>




</div>