.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.col-md-9 h2 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.col-md-9 p {
    font-size: 14px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.col-md-9 .post-meta {
    font-size: .7rem;
}
.col-md-3 .post-meta{
    font-size: .7rem;
}

a {
    color: #000;
    text-decoration: none;
}

.container .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container .section-title h2 {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    margin-top: 1rem;
}

.container .section-title {
    color: #000;
    margin-bottom: 10px;
}

.container .trend-entry .number {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    font-size: 30px;
    line-height: 1;
    color: #ccc;
}

.container .number {
    margin-top: 1rem;
}

.col-md-3 .trend-entry{
    margin-top: 1rem;
}