<div class="navbar">
    <div class="header container">
        <div class="logo">
            <h3>Esma Harmancı</h3>
        </div>
        <div class="search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search"
                    aria-label="Search" aria-describedby="button-addon2">
                <button class="btn pt-0 pb-1" type="button" id="button-addon2"><img src="../../../assets/Search.svg"
                        alt=""></button>
            </div>
        </div>
    </div>
</div>

<div class="navbar list  ps-5 border-bottom pb-0">
    <ul class="d-flex flex-row ms-5">
        <li class="nav-link active"><a aria-current="page" href="#">HOME</a></li>
        <li class="nav-link"><a href="/category.component">CATEGORIES</a></li>
        <li class="nav-link"><a href="/about.component">about</a></li>
    </ul>
</div>