<div class="navbar">
    <div class="header container">
        <div class="logo">
            <h3>Esma Harmancı</h3>
        </div>
        <div class="search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search"
                    aria-label="Search" aria-describedby="button-addon2">
                <button class="btn pt-0 pb-1" type="button" id="button-addon2"><img src="../../../assets/Search.svg"
                        alt=""></button>
            </div>
        </div>
    </div>
</div>

<div class="navbar">
    <div class="container list">
        <a class="nav-link active" aria-current="page" href="#">HOME</a>
        <a class="nav-link" href="/category.component">CATEGORIES</a>
        <a class="nav-link" href="/business.component">BUSINESS</a>
        <a class="nav-link" href="/entertainment.component">entertainment</a>
        <a class="nav-link" href="/general.component">general</a>
        <a class="nav-link" href="/health.component">health</a>
        <a class="nav-link" href="/science.component">science</a>
        <a class="nav-link" href="/sports.component">sports</a>
        <a class="nav-link" href="/technology.component">technology</a>
        <a class="nav-link" style="margin-left: 5rem;" href="/about.component"><b>about</b></a>
    </div>
</div>