.header{
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.list{
    padding-left: 4.5rem;
    padding-right: 6rem; 
    text-transform: uppercase;
    font-size: 14px;
}

input{
    border-color: #bebebe;
    border-right: none;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    height: 100%;
}


button{
    border-color: #bebebe;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

button:hover{
    border-color: #969696;
    background-color: #bebebe;
}

.nav-link{
    padding-right: 3rem;
}

.nav-link a{
    text-decoration: none;
    color: #000;
}

.nav-link:active{
    font-weight: bold;
}