<main>
  <header class="border-bottom">
    <div class="container">
      <header class="navbar navbar-expand-lg bg-body">
        <div class="container-fluid">
          <h3>Esma Harmancı</h3>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2 border-secondary rounded-start-pill" type="search" placeholder="Search"
                aria-label="Search">
              <button class="btn btn-outline-secondary rounded-end-pill bg-dark" type="submit"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                  viewBox="0 0 16 16" style="color: white;">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></button>
            </form>
          </div>
        </div>
      </header>
      <nav class="navbar navbar-expand-lg bg-body">
        <div class="container-fluid p-0">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
              <a class="nav-link" href="#">CATEGORIES</a>
              <a class="nav-link" href="/business.component">BUSINESS</a>
              <a class="nav-link" href="/entertainment.component">entertainment</a>
              <a class="nav-link" href="/general.component">general</a>
              <a class="nav-link" href="/health.component">health</a>
              <a class="nav-link" href="/science.component">science</a>
              <a class="nav-link" href="/sports.component">sports</a>
              <a class="nav-link" href="/technology.component">technology</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <router-outlet></router-outlet>
  <app-footer></app-footer>

</main>