.nav-tabs .nav-link {
    color: #333;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 2rem;
}

.nav-tabs .nav-link.active {
    border: none;
    font-weight: bold;
}

.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs {
    border-bottom: none;
}
.sidebar{
    height: 900;
}

.col-10 {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.row{
    width: 100%;
}

.content a{
    color: #000;
}