<div class="row">
    <div class="col-2 sidebar pt-5 fixed-left">
        <ul class="nav nav-tabs d-flex flex-column" id="myTab" role="tablist">
            <li class="nav-item" role="presentation"><button class="nav-link active" id="tab1-tab" data-bs-toggle="tab"
                    data-bs-target="#tab1" type="button" aria-controls="tab1" aria-selected="true">Bussines</button>
            </li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab2-tab" data-bs-toggle="tab"
                    data-bs-target="#tab2" type="button" aria-controls="tab2"
                    aria-selected="true">entertainment</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab3-tab" data-bs-toggle="tab"
                    data-bs-target="#tab3" type="button" aria-controls="tab3" aria-selected="true">general</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab4-tab" data-bs-toggle="tab"
                    data-bs-target="#tab4" type="button" aria-controls="tab4" aria-selected="true">health</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab5-tab" data-bs-toggle="tab"
                    data-bs-target="#tab5" type="button" aria-controls="tab5" aria-selected="true">science</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab6-tab" data-bs-toggle="tab"
                    data-bs-target="#tab6" type="button" aria-controls="tab6" aria-selected="true">sports</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab1-tab" data-bs-toggle="tab"
                    data-bs-target="#tab7" type="button" aria-controls="tab7" aria-selected="true">technology</button>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="row">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ad animi corrupti rerum ex magnam neque omnis tenetur, facilis nostrum eius corporis? Aspernatur magnam maxime cupiditate esse voluptatibus labore unde.
                    Suscipit cupiditate labore fugiat maiores nemo odio fuga laudantium illum beatae id, doloribus eius perferendis, et magni. Debitis, pariatur? Tempore fugit deleniti nam velit mollitia labore quaerat minus ut neque?
                    Molestias nulla tempore ex fuga eveniet porro deleniti maiores ratione possimus aperiam, nobis inventore iusto suscipit beatae officia. Et placeat alias saepe nam repellendus, reiciendis inventore dolores nemo dolorum aliquam?
                    Temporibus facere minima tempore similique quis eveniet autem officia iusto totam. Animi optio, sed, dignissimos debitis voluptatibus fugit excepturi ut, illum asperiores culpa amet assumenda ipsa ex iure dolore id!
                    Totam, adipisci veniam. Iure expedita impedit laudantium iste aperiam. Voluptatum sed aut corrupti blanditiis, totam cupiditate. Non debitis odit beatae pariatur assumenda! Inventore assumenda pariatur animi doloribus culpa sint tenetur.
                    Iste delectus neque sint reprehenderit consequatur, modi earum facere aliquam ullam odit molestias saepe ad repellendus harum ea nostrum eum ipsum voluptates fuga aspernatur quisquam. Ut quaerat dicta perferendis similique.
                    Ad inventore officiis optio molestias dicta officia culpa veritatis sint ipsam itaque aut dolores quibusdam corporis animi delectus deserunt, exercitationem accusamus harum amet nemo non corrupti qui? Amet, sunt velit.
                    Eum quisquam repudiandae fugit aperiam odit, architecto ex voluptate quaerat assumenda aut voluptatum, totam eligendi provident dolor repellendus explicabo sit voluptatem ab laborum iuremaxime enim voluptas accusamus aut aspernatur tenetur at optio inventore corrupti labore ducimus nesciunt facilis, cumque tempora illo. Voluptatem doloremque voluptates placeat amet eveniet!
                    Cupidcipit aspernatur minima quae incidunt neque sunt consequatur temporibus, doloremque fugit, omnis tenetur. Possimus vitae corrupti odit est tempora qui excepturi, dolorem illo? Assumenda quibusdam commodi corrupti inventore?
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div class="row overflow-auto">
                    dfghjklişl*789
                </div>
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                <div class="row">
                    123456
                </div>
            </div>
            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                <div class="row">
                    aaaaaaaa
                </div>
            </div>
        </div>
    </div>
</div>