<div class="row">
    <div class="col-2 sidebar border-end">
        <ul class="nav nav-tabs d-flex flex-column pt-5" id="myTab" role="tablist">
            <li class="nav-item" role="presentation"><button class="nav-link active" id="tab1-tab" data-bs-toggle="tab"
                    data-bs-target="#tab1" type="button" aria-controls="tab1" aria-selected="true">Bussines</button>
            </li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab2-tab" data-bs-toggle="tab"
                    data-bs-target="#tab2" type="button" aria-controls="tab2"
                    aria-selected="true">entertainment</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab3-tab" data-bs-toggle="tab"
                    data-bs-target="#tab3" type="button" aria-controls="tab3" aria-selected="true">general</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab4-tab" data-bs-toggle="tab"
                    data-bs-target="#tab4" type="button" aria-controls="tab4" aria-selected="true">health</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab5-tab" data-bs-toggle="tab"
                    data-bs-target="#tab5" type="button" aria-controls="tab5" aria-selected="true">science</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab6-tab" data-bs-toggle="tab"
                    data-bs-target="#tab6" type="button" aria-controls="tab6" aria-selected="true">sports</button></li>
            <li class="nav-item" role="presentation"><button class="nav-link" id="tab1-tab" data-bs-toggle="tab"
                    data-bs-target="#tab7" type="button" aria-controls="tab7" aria-selected="true">technology</button>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="row pb-5">
                    <div class="d-flex bg-light ps-0  mt-4" *ngFor="let news of topBussinessDisplay">
                        <div> <img src="https://picsum.photos/id/235/200/300" width="150" height="150" alt=""></div>
                    <div class="content ps-2 pt-3">
                        <a href="{{news.url}}">
                            <h6>{{news.title}}</h6>
                        </a>
                        <div class="post-meta pt-5">
                            <span class="d-block">{{news.author}} in {{news.source.name}}</span>
                            <span class="date-read"><span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                          </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div class="row pb-5">
                    <div class="d-flex bg-light ps-0  mt-4" *ngFor="let news of topBussinessDisplay">
                        <div> <img src="https://picsum.photos/id/235/200/300" width="150" height="150" alt=""></div>
                    <div class="content ps-2 pt-3">
                        <a href="{{news.url}}">
                            <h6>{{news.title}}</h6>
                        </a>
                        <div class="post-meta pt-5">
                            <span class="d-block">{{news.author}} in {{news.source.name}}</span>
                            <span class="date-read"><span class="mx-1">•</span> 3 min read <span
                                class="icon-star2"></span></span>
                          </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>