<app-carousel></app-carousel>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8">
      <h4>Editor's Pick</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="pt-4" *ngFor="let news of topHeadingDisplay.slice(3,5)">
            <div>
              <img src="https://picsum.photos/id/235/200/300" width="100%" height="250" alt="">
            </div>
            <div>
              <a href="{{news.url}}">
                <h4 class="pt-3">{{news.title}}</h4>
              </a>
              <div class="post-meta">
                <span class="d-block">{{news.author}} in {{news.source.name}}</span>
                <span class="date-read">{{news.publishedAt}} <span class="mx-1">•</span> 3 min read <span
                    class="icon-star2"></span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 pe-3">
          <div class="bg-light d-flex mt-4" *ngFor="let news of topHeadingDisplay.slice(5,10)">
            <div> <img src="https://picsum.photos/id/235/200/300" width="150" height="150" alt=""></div>
            <div class="content ps-2 pt-3">
              <a href="{{news.url}}">
                <h6>{{news.title}}</h6>
              </a>
              <div class="post-meta">
                <span class="d-block">{{news.author}} in {{news.source.name}}</span>
                <span class="date-read">{{news.publishedAt}} <span class="mx-1">•</span> 3 min read <span
                    class="icon-star2"></span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5 pb-5">
      <h4 class="ps-4">Trending</h4>
      <div class="row pt-4" *ngFor="let news of topHeadingDisplay.slice(1,10)">
        <div class="col-2 text-end">01</div>
        <div class="col-10">
          <a href="{{news.url}}">
            <h6>{{news.title}}</h6>
          </a>
          <div class="post-meta">
            <span class="d-block">{{news.author}} in {{news.source.name}}</span>
            <span class="date-read">{{news.publishedAt}} <span class="mx-1">•</span> 3 min read <span
                class="icon-star2"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>